<h1><%= @admin.name %></h1>

<p>Seus dados foram atualizados por <b><%= @current_admin.name %></b></p>

<p>Seus dados atuais agora são: </p>
<p>Nome: <%= @admin.name %></p>
<p>E-mail: <%= @admin.email %></p>
<p>Tipo de acesso: <%= @admin.role_i18n %></p>
