<% if @admin.errors.any? %>
    <div class="alert alert-danger">
        <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </div>
<% end %>
<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
        <%= form_for([:backoffice, @admin]) do |f| %>
            <div class="form-group">
                <label>E-mail</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Digite seu e-mail" %>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <%= f.password_field :password, class:"form-control", placeholder:"Digite sua senha" %>
            </div><div class="form-group">
                <label>Confirme sua senha</label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirme sua senha" %>
            </div>
            <button type="submit" class="btn btn-default">Salvar</button>
        <!-- /.table-responsive -->
        <% end %>
        
        </div>
    </div>
    <!-- /.panel-body -->
</div>
